node_modules/
dist/
logs/
.env.local
.history/
config/*
config/display-items.json
config/google-calendar.json
config/google-calendar-credentials.json
config/google-calendar-token.json
config/icloud-calendar.json
config/icloud-calendar-credentials.json
config/browser-form-settings.json
.DS_Store
